body {
  font-family: -apple-system, 
               BlinkMacSystemFont, 
               Segoe UI, 
               Roboto,
               Oxygen-Sans,
               Ubuntu,
               Cantarell,
               Helvetica Neue,
               sans-serif;
}

.cover-container { 
  max-width: 42em;
  text-align: center;
}
@media (max-width: 425px) {
  .cover-container { text-align: justify; }
}
.cover { padding: 0 1.5rem; }

@media (max-width: 425px) {
  .input-submit {text-align: center}
  .btn-submit { width: 100%; }
}

@media (min-width: 992px) {
  .table-container {
    width: 75%;
    margin: 0 auto;
  }
}