/* GENERAL */
body {
  font-family: -apple-system, 
               BlinkMacSystemFont, 
               Segoe UI, 
               Roboto,
               Oxygen-Sans,
               Ubuntu,
               Cantarell,
               Helvetica Neue,
               sans-serif;
}

/* NAVBAR */
@media (max-width: 320px) {
  nav.navbar { margin-bottom: 1.5rem!important; }
}

/* HOME */
.cover-container { 
  max-width: 42em;
  text-align: center;
}
@media (max-width: 425px) {
  .cover-container { text-align: justify; }
}
@media (min-width: 768px) {
  .cover-container { padding-top: 5rem; }
}
@media (min-width: 992px) {
  .cover-container { padding-top: 8rem; }
}

.cover { padding: 0 1.5rem; }

@media (max-width: 320px) {
  .cover-heading { font-size: 2rem; }
}

/* SEARCH */
input.form-control:focus {
  outline: none;
  border: 1px solid rgb(185,185,185);
}
input.form-control::placeholder { color: rgb(185,185,185); }

button.btn-submit {
  color: #fff;
  background-color: #343a40;
}
button.btn-submit:hover {
  color: #fff;
  background-color: #23272b;
}

input.material,
button.material {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 
              0 3px 1px -2px rgba(0, 0, 0, .2), 
              0 1px 5px 0 rgba(0, 0, 0, .12);
}
input.material:hover,
input.material:focus,
button.material:hover,
button.material:focus {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 
              0 1px 18px 0 rgba(0, 0, 0, .12), 
              0 3px 5px -1px rgba(0, 0, 0, .2);
}
input.material:active,
button.material:active {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 
              0 3px 1px -2px rgba(0, 0, 0, .2), 
              0 1px 5px 0 rgba(0, 0, 0, .12);
}

@media (max-width: 425px) {
  .input-submit {text-align: center}
  .btn-submit { width: 100%; }
}


/* CURRENT WEATHER */
a.current-weather {
  color: #212529;
}
a.current-weather:hover {
  color: #212529;
  text-decoration: none;
}

@media (min-width: 992px) {
  .table-container {
    width: 75%;
    margin: 0 auto;
  }
}